.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--VerdeEsmeralda);
    transition: width 0.3s ease;
}

.nav-link:hover:after {
    width: 100%;
}